/* plate */
.folder-card{
  width: 100px;
  height: max-content;
  margin: 5px;
  padding: 5px;
  color: var(--black);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.folder-favorites {
  position: absolute;
  top: 0;
  right: 0;
}

.folder-card_img-wrap{
  width: 100%;
}

.folder-card_img {
 width: 70%;
 height: 60px;
}

.folder-card_text_name{
  width: 90px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 600;
  text-overflow: ellipsis;
}

.folder-button-wrap {
  display: none;
}

.folder-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.folder-btn-icon {
  width: 15px;
}

.folder-card:hover .folder-card_text_name{
  display: none;
}

.folder-card:hover .folder-button-wrap {
  display: flex;
  gap: 5px;
}

/* list */

.folder-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.list-folder-icon img {
  width: 32px;
  height: 32px;
}

.list-folder-details {
  flex-grow: 1;
  padding: 0 10px;
}

.list-folder-name {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.list-folder-name:hover {
  text-decoration: underline;
}

.list-folder-favorites {
  margin-left: 70px;
  position: static;
}

.list-folder-actions {
  display: flex;
  gap: 15px;
}

.list-folder-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.list-folder-btn-icon {
  width: 20px;
  height: 20px;
}

.folder-btn:hover .folder-btn-icon {
  filter: brightness(0.8);
}  