.sidebar {
  position: absolute;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #f3f1f1;
  transition: left 0.6s ease;
  padding-top: 60px;
  z-index: 5;
}

.sidebar.open {
  left: 0;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
}

.sidebar-nav_item {
  padding: 12px 16px;
  color: var(--grey);
  text-decoration: none;
  font-size: 17px;
}