.button {
  background-color: var(--blue);
  border: none;
  font-weight: bold;
  border-radius: 8px;
  color: var(--grey);
  cursor: pointer;
  transition: all 0.5s;
}

.button:hover {
  background-color: var(--dark-blue);
}

.small {
  padding: 6px 8px;
  font-size: 14px;
}

.medium{
   padding: 8px 16px;
   font-size: 16px;
}

.large {
  padding: 10px 18px;
  font-size: 18px;
}