.input-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;
}

.input-label {
  padding: 10px 0;
  color: var(--black);
}

.input-field{
  background-color: transparent;
  padding: 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--grey);
  color: var(--black);
  font-size: 17px;
}

.input-field:focus {
   border-bottom: 1px solid var(--light-blue);
}