.folder-name{
  font-size: 18px;
  color: var(--grey);
  margin: 10px 0;
  font-weight: 100;
}

.empty-message {
  text-align: center;
  width: 100%;
  font-size: 14px;
  color: var(--grey);
  margin: 20px 0;
}